body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: #4caf50;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px); /* Calcula el espacio sin incluir el header */
    text-align: center;
}

main .button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre los botones */
    margin-top: 20px; /* Margen superior para separar los botones del texto */
}

main button {
    width: 200px; /* Ancho de los botones */
    font-size: 16px; /* Tamaño del texto */
    padding: 10px; /* Espaciado interno del botón */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;

}

button:hover {
    background: #45a049;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ccc;
    padding: 1rem;
    overflow: auto;
}
